<!-- Stats & Conditions -->
<div class="flexrow pad-bottom --more">
	<!-- Stats -->
	<div class="flexcol stats pad-right">
		<h2 class="section-title">Mech Skills</h2>
		<!-- Skills -->
		<div class="flexrow skills no-grow pad-bottom">
			<!-- Skills Left -->
			<div class="flexcol skills-col pad-right --more">
				<label>
					<span class="roll-skill" data-skill="hull" data-skill-label="Hull">Hull</span>
					<input type="text" name="system.skills.hull" value="{{actor.system.skills.hull}}">
				</label>
				<label>
					<span class="roll-skill" data-skill="agility" data-skill-label="Agility">Agility</span>
					<input type="text" name="system.skills.agility" value="{{actor.system.skills.agility}}">
				</label>
			</div>
			<!-- Skills Right -->
			<div class="flexcol skills-col">
				<label>
					<span class="roll-skill" data-skill="systems" data-skill-label="Systems">Systems</span>
					<input type="text" name="system.skills.systems" value="{{actor.system.skills.systems}}">
				</label>
				<label>
					<span class="roll-skill" data-skill="engineering" data-skill-label="Engineering">Engineering</span>
					<input type="text" name="system.skills.engineering" value="{{actor.system.skills.engineering}}">
				</label>
			</div>
		</div>
		<h2 class="section-title">Core Stats</h2>
		<!-- Main Stats -->
		<div class="flexrow">
			<!-- Main Stats Left -->
			<div class="flexcol stats-col pad-right --more">
				<label>
					Size:
					<input type="text" name="system.stats.size" value="{{actor.system.stats.size}}">
				</label>
				<label>
					Armor:
					<input type="text" name="system.stats.armor" value="{{actor.system.stats.armor}}" data-dType="Number">
				</label>
				<label>
					Attack Bonus:
					<input type="text" name="system.stats.attack" value="{{actor.system.stats.attack}}" data-dType="Number">
				</label>
			</div>
			<!-- Main Stats Right -->
			<div class="flexcol stats-col">
				<label>
					Save Target:
					<input type="text" name="system.stats.save_target" value="{{actor.system.stats.save_target}}"
						data-dType="Number">
				</label>
				<label>
					Sensors:
					<input type="text" name="system.stats.sensors" value="{{actor.system.stats.sensors}}" data-dType="Number">
				</label>
			</div>
		</div>
		<!-- Other Stats -->
		<div class="flexrow">
			<!-- Left Stat Col -->
			<div class="flexcol stats-col pad-right --more">
				<div class="stats-subsection">
					<div class="stats-subsection-header">
						<label>HULL</label>
					</div>
					<div class="stats-subsection-content flexcol">
						<label>
							HP:
							<input type="text" name="system.hp.max" value="{{actor.system.hp.max}}" data-dType="Number">
						</label>
						<label>
							Repair Cap:
							<input type="text" name="system.repairs.max" value="{{actor.system.repairs.max}}" data-dType="Number">
						</label>
					</div>
				</div>
				<div class="stats-subsection">
					<div class="stats-subsection-header">
						<label>AGILITY</label>
					</div>
					<div class="stats-subsection-content flexcol">
						<label>
							Evasion:
							<input type="text" name="system.stats.evasion" value="{{actor.system.stats.evasion}}" data-dType="Number">
						</label>
						<label>
							Speed:
							<input type="text" name="system.stats.speed" value="{{actor.system.stats.speed}}" data-dType="Number">
						</label>
					</div>
				</div>
			</div>
			<!-- Right Stat Col -->
			<div class="flexcol stats-col">
				<div class="stats-subsection">
					<div class="stats-subsection-header">
						<label>SYSTEMS</label>
					</div>
					<div class="stats-subsection-content flexcol">
						<label>
							E-Defense:
							<input type="text" name="system.stats.e_defense" value="{{actor.system.stats.e_defense}}"
								data-dType="Number">
						</label>
						<label>
							<span class="roll-stat" data-stat="tech_attack" data-stat-label="Tech Attack">Tech Attack:</span>
							<input type="text" name="system.stats.tech_attack" value="{{actor.system.stats.tech_attack}}"
								data-dType="Number">
						</label>
						<label>
							SP:
							<input type="text" name="system.sp" value="{{actor.system.sp}}" data-dType="Number">
						</label>
					</div>
				</div>
				<div class="stats-subsection">
					<div class="stats-subsection-header">
						<label>ENGINEERING</label>
					</div>
					<div class="stats-subsection-content flexcol">
						<label>
							Heat Cap:
							<input type="text" name="system.heat.max" value="{{actor.system.heat.max}}" data-dType="Number">
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Conditions -->
	<div class="flexcol conditions pad-bottom">
		<h2 class="section-title">Conditions</h2>
		<div class="flexrow">
			<!-- Left Conditions Col -->
			<div class="flexcol conditions-col">
				<!-- Lock On, Exposed, Shredded, Jammed-->
				<label>
					<input type="checkbox" name="system.conditions.lock_on" {{checked actor.system.conditions.lock_on}}>
					LOCK ON
				</label>
				<label>
					<input type="checkbox" name="system.conditions.exposed" {{checked actor.system.conditions.exposed}}>
					EXPOSED
				</label>
				<label>
					<input type="checkbox" name="system.conditions.shredded" {{checked actor.system.conditions.shredded}}>
					SHREDDED
				</label>
				<label>
					<input type="checkbox" name="system.conditions.jammed" {{checked actor.system.conditions.jammed}}>
					JAMMED
				</label>
			</div>
			<!-- Center Conditions Col -->
			<div class="flexcol conditions-col">
				<!-- Slowed, Impaired, Immobilized, Stunned -->
				<label>
					<input type="checkbox" name="system.conditions.slowed" {{checked actor.system.conditions.slowed}}>
					SLOWED
				</label>
				<label>
					<input type="checkbox" name="system.conditions.impaired" {{checked actor.system.conditions.impaired}}>
					IMPAIRED
				</label>
				<label>
					<input type="checkbox" name="system.conditions.immobilized" {{checked actor.system.conditions.immobilized}}>
					IMMOBILIZED
				</label>
				<label>
					<input type="checkbox" name="system.conditions.stunned" {{checked actor.system.conditions.stunned}}>
					STUNNED
				</label>
			</div>
			<!-- Right Conditions Col -->
			<div class="flexcol conditions-col">
				<!-- Hidden, Invisible, Prone -->
				<label>
					<input type="checkbox" name="system.conditions.hidden" {{checked actor.system.conditions.hidden}}>
					HIDDEN
				</label>
				<label>
					<input type="checkbox" name="system.conditions.invisible" {{checked actor.system.conditions.invisible}}>
					INVISIBLE
				</label>
				<label>
					<input type="checkbox" name="system.conditions.prone" {{checked actor.system.conditions.prone}}>
					PRONE
				</label>
				<label>
					<input type="text" name="system.conditions.burn" value="{{actor.system.conditions.burn}}" data-dType="Number">
					BURN
				</label>
			</div>
		</div>
		<!-- Quick Buttons -->
		<div class="flexrow quick-buttons">
			{{#if owner}}
			<div class="quick-button full-repair"><i class="button-icon fas fa-wrench"></i>Full Repair</div>
			{{/if}}
		</div>
	</div>
</div>
<!-- Traits, Mounts, Core System -->
<div class="flexrow">
	<!-- Left Col -->
	<div class="flexcol pad-right">
		<!-- Traits -->
		<div class="flexcol pad-bottom">
			<div class="header-group">
				<h2 class="section-title header-text">Traits</h2>
				<div class="header-options">
					{{#if owner}}
					<i class="fa-solid fa-plus item-add icon-button" title="Add Trait" data-item-type="trait"
						data-item-name="New Trait"></i>
					{{/if}}
				</div>
			</div>
			<div class="card-col">
				{{#each traits}}
				{{> "systems/lancer-lite/template/card/trait-card.hbs"}}
				{{/each}}
			</div>
		</div>
		<!-- Mounts -->
		<div class="flexcol no-grow">
			<div class="header-group">
				<h2 class="section-title header-text">Mounts</h2>
				<div class="header-options">
					{{#if owner}}
					<i class="fa-solid fa-plus item-add icon-button" title="Add Mount" data-item-type="mount"
						data-item-name="New Mount"></i>
					{{/if}}
				</div>
			</div>
			<div class="flexrow mount-labels card-row">
				{{#each mounts}}
				{{> "systems/lancer-lite/template/sheet/actor/mech/partial/mount-label.hbs"}}
				{{/each}}
			</div>
		</div>
	</div>
	<!-- Right Col -->
	<div class="flexcol">
		<!-- Core System -->
		<div class="flexcol no-grow">
			<div class="header-group">
				<h2 class="section-title header-text">Core System</h2>
				<div class="header-options">
					<div class="header-field" style="margin-right:1rem">
						<label>
							CP
							<input type="text" class="--center" name="system.cp.value" value="{{actor.system.cp.value}}">
						</label>
					</div>
					{{#if owner}}
					<i class="fa-solid fa-plus item-add icon-button" title="Add Core System" data-item-type="system"
						data-item-name="New Core System">
						<input type="hidden" name="default.type" value="core">
					</i>
					{{/if}}
				</div>
			</div>
			<div class="card-col">
				{{#each core_systems}}
				{{> "systems/lancer-lite/template/card/system-card.hbs"}}
				{{/each}}
			</div>
		</div>
	</div>
</div>