<div class="flexrow">
	<!-- Left Col -->
	<div class="flexcol pad-right">
		<!-- Core Stats -->
		<div class="flexcol stats no-grow pad-bottom --more">
			<h2 class="section-title">Core Stats</h2>
			<!-- Main Stats -->
			<div class="flexrow">
				<!-- Main Stats Left -->
				<div class="flexcol stats-col pad-right --more">
					<label>
						Size:
						<input type="text" name="system.size" value="{{actor.system.size}}" data-dType="Number">
					</label>
					<label>
						Armor:
						<input type="text" name="system.armor" value="{{actor.system.armor}}" data-dType="Number">
					</label>
					<label>
						Attack Bonus:
						<input type="text" name="system.attack" value="{{actor.system.attack}}" data-dType="Number">
					</label>
				</div>
				<!-- Main Stats Right -->
				<div class="flexcol stats-col">
					<label>
						Save Target:
						<input type="text" name="system.save_target" value="{{actor.system.save_target}}" data-dType="Number">
					</label>
					<label>
						Sensors:
						<input type="text" name="system.sensors" value="{{actor.system.sensors}}" data-dType="Number">
					</label>
				</div>
			</div>
			<!-- Other Stats -->
			<div class="flexrow">
				<!-- Left Stat Col -->
				<div class="flexcol stats-col pad-right --more">
					<div class="stats-subsection">
						<div class="stats-subsection-header">
							<label>HULL</label>
						</div>
						<div class="stats-subsection-content flexcol">
							<label>
								HP:
								<input type="text" name="system.hp.max" value="{{actor.system.hp.max}}" data-dType="Number">
							</label>
							<label>
								Repair Cap:
								<input type="text" name="system.repairs.max" value="{{actor.system.repairs.max}}" data-dType="Number">
							</label>
						</div>
					</div>
					<div class="stats-subsection">
						<div class="stats-subsection-header">
							<label>AGILITY</label>
						</div>
						<div class="stats-subsection-content flexcol">
							<label>
								Evasion:
								<input type="text" name="system.evasion" value="{{actor.system.evasion}}" data-dType="Number">
							</label>
							<label>
								Speed:
								<input type="text" name="system.speed" value="{{actor.system.speed}}" data-dType="Number">
							</label>
						</div>
					</div>
				</div>
				<!-- Right Stat Col -->
				<div class="flexcol stats-col">
					<div class="stats-subsection">
						<div class="stats-subsection-header">
							<label>SYSTEMS</label>
						</div>
						<div class="stats-subsection-content flexcol">
							<label>
								E-Defense:
								<input type="text" name="system.e_defense" value="{{actor.system.e_defense}}" data-dType="Number">
							</label>
							<label>
								Tech Attack:
								<input type="text" name="system.tech_attack" value="{{actor.system.tech_attack}}" data-dType="Number">
							</label>
							<label>
								SP:
								<input type="text" name="system.sp" value="{{actor.system.sp}}" data-dType="Number">
							</label>
						</div>
					</div>
					<div class="stats-subsection">
						<div class="stats-subsection-header">
							<label>ENGINEERING</label>
						</div>
						<div class="stats-subsection-content flexcol">
							<label>
								Heat Cap:
								<input type="text" name="system.heat.max" value="{{actor.system.heat.max}}" data-dType="Number">
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Traits -->
		<div class="flexcol pad-bottom">
			<div class="header-group">
				<h2 class="section-title header-text">Traits</h2>
				<div class="header-options">
					<i class="fa-solid fa-plus item-add icon-button" title="Add Trait" data-item-type="trait"
						data-item-name="New Trait"></i>
				</div>
			</div>
			<div class="card-col">
				{{#each traits}}
				{{> "systems/lancer-lite/template/card/trait-card.hbs"}}
				{{/each}}
			</div>
		</div>
		<!-- Mounts -->
		<div class="flexcol no-grow">
			<div class="header-group">
				<h2 class="section-title header-text">Mounts</h2>
				<div class="header-options">
					<i class="fa-solid fa-plus item-add icon-button" title="Add Mount" data-item-type="mount"
						data-item-name="New Mount"></i>
				</div>
			</div>
			<div class="flexrow mount-labels card-row">
				{{#each mounts}}
				{{> "systems/lancer-lite/template/sheet/actor/mech/partial/mount-label.hbs"}}
				{{/each}}
			</div>
		</div>
	</div>
	<!-- Right Col -->
	<div class="flexcol">
		<!-- Core System -->
		<div class="flexcol no-grow pad-bottom">
			<div class="header-group">
				<h2 class="section-title header-text">Core System</h2>
				<div class="header-options">
					<div class="header-field" style="margin-right:1rem">
						<label>
							CP
							<input type="text" class="--center" name="system.cp.value" value="{{actor.system.cp.value}}">
						</label>
					</div>
					<i class="fa-solid fa-plus item-add icon-button" title="Add Core System" data-item-type="system"
						data-item-name="New Core System">
						<input type="hidden" name="default.type" value="core">
					</i>
				</div>
			</div>
			<div class="card-col">
				{{#each core_systems}}
				{{> "systems/lancer-lite/template/card/system-card.hbs"}}
				{{/each}}
			</div>
		</div>
	</div>
</div>