<div class="{{cssClass}} flexcol sheet-container">
	<form autocomplete="off">
		<header class="sheet-header">
			<h1>MECH</h1>
		</header>
		<div class="flexcol">
			<!-- Row 1: Portrait & Bio -->
			<div class="flexrow pad-bottom --more">
				<div class="flexcol flex2">
					<div class="flexrow">
						<!-- Portrait -->
						<div class="flexcol flex0 pad-right">
							<div class="pilot-portrait-frame">
								<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
							</div>
						</div>
						<!-- Bio -->
						<div class="flexcol flex0 field-group mech-bio pad-right --more">
							<h2 class="section-title">Bio</h2>
							<div class="field">
								<label>
									NAME
									<input name="name" type="text" value="{{actor.name}}">
								</label>
							</div>
							<div class="flexrow field-group">
								<div class="field">
									<label>
										FRAME
										<input name="system.frame" type="text" value="{{actor.system.frame}}">
									</label>
								</div>
								<div class="field no-grow">
									<label>
										SIZE <br>
										<input name="system.size" class="--small" type="text" value="{{actor.system.size}}" data-dType="Number">
									</label>
								</div>
							</div>
							<div class="field">
								<label>
									BIOGRAPHY
									<textarea name="system.biography">{{actor.system.biography}}</textarea>
								</label>
							</div>
						</div>
						<div class="flexcol flex0 field-group pilot-skills pad-right --more">
							<h2 class="section-title">Skills</h2>
							<div class="flexrow">
								<div class="pad-right --more">
									<label>
										LL
									</label>
									<input type="text" name="system.license_level" value="{{actor.system.license_level}}"
										data-dtype="Number">
								</div>
								<div>
									<label>
										GRIT
									</label>
									<input type="text" name="system.grit" value="{{actor.system.grit}}" data-dtype="Number">
								</div>
							</div>
							<div class="flexrow">
								<div class="pad-right --more">
									<label>
										<i class="fas fa-dice-d20 icon-button stat-roll" data-stat="hull" data-stat-label="Hull"></i>
										HULL
									</label>
									<input type="text" name="system.hull" value="{{actor.system.hull}}" data-dtype="Number">
								</div>
								<div>
									<label>
										<i class="fas fa-dice-d20 icon-button stat-roll" data-stat="systems" data-stat-label="Systems"></i>
										SYS
									</label>
									<input type="text" name="system.systems" value="{{actor.system.systems}}" data-dtype="Number">
								</div>
							</div>
							<div class="flexrow">
								<div class="pad-right --more">
									<label class="pad-right --more">
										<i class="fas fa-dice-d20 icon-button stat-roll" data-stat="agility" data-stat-label="Agility"></i>
										AGI
									</label>
									<input type="text" name="system.agility" value="{{actor.system.agility}}" data-dtype="Number">
								</div>
								<div>
									<label>
										<i class="fas fa-dice-d20 icon-button stat-roll" data-stat="engineering"
											data-stat-label="Engineering"></i>
										ENG
									</label>
									<input type="text" name="system.engineering" value="{{actor.system.engineering}}" data-dtype="Number">
								</div>
							</div>
							<div class="flexrow pad-top --more">
								<button class="skill-check quick-button">
									<i class="fas fa-dice-d20"></i>
									Skill Check
								</button>
							</div>
						</div>
						<div class="flexcol field-group pilot-stats">
							<h2 class="section-title">Vitals</h2>
							<!-- TODO: To Table -->
							<div class="flexrow resource-row">
								<div class="resource-field">
									<label>STRUCTURE</label>
									<div class="resources">
										<input type="text" name="system.structure.value" value="{{actor.system.structure.value}}"
											data-dtype="Number">
										&nbsp;/&nbsp;
										<input type="text" name="system.structure.max" value="{{actor.system.structure.max}}"
											data-dtype="Number">
									</div>
								</div>
								<div class="resource-field">
									<label>HP</label>
									<div class="resources">
										<input type="text" name="system.hp.value" value="{{actor.system.hp.value}}" data-dtype="Number">
										&nbsp;/&nbsp;
										<input type="text" name="system.hp.max" value="{{actor.system.hp.max}}" data-dtype="Number">
									</div>
								</div>
							</div>
							<div class="flexrow resource-row" <div class="flexrow">
								<div class="resource-field">
									<label>HEAT</label>
									<div class="flexrow flex0 resources">
										<input type="text" class="--small" name="system.heat.value" value="{{actor.system.heat.value}}"
											data-dtype="Number">
										&nbsp;/&nbsp;
										<input type="text" class="--small" name="system.heat.max" value="{{actor.system.heat.max}}"
											data-dtype="Number">
									</div>
								</div>
								<div class="resource-field">
									<label>STRESS</label>
									<div class="flexrow flex0 resources">
										<input type="text" class="--small" name="system.stress.value" value="{{actor.system.stress.value}}"
											data-dtype="Number">
										&nbsp;/&nbsp;
										<input type="text" class="--small" name="system.stress.max" value="{{actor.system.stress.max}}"
											data-dtype="Number">
									</div>
								</div>
							</div>
							<div class="flexrow resource-row">
								<div class="resource-field no-grow">
									<label>OVERSHIELD</label>
									<div class="flexrow flex0 resources">
										<input type="text" class="--small" name="system.overshield.value"
											value="{{actor.system.overshield.value}}" data-dtype="Number">
										&nbsp;/&nbsp;
										<input type="text" class="--small" name="system.overshield.max"
											value="{{actor.system.overshield.max}}" data-dtype="Number">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<!-- Row: Stats -->
			<div class="mech-stats flexrow pad-bottom">
				<div class="field">
					<label>
						ATK
						<input type="text" name="system.attack" value="{{actor.system.attack}}" data-dType="Number">
					</label>
				</div>
				<div class="field">
					<label>
						TECH ATK
						<input type="text" name="system.tech_attack" value="{{actor.system.tech_attack}}" data-dType="Number">
					</label>
				</div>
				<div class="field">
					<label>
						SAVE TGT
						<input type="text" name="system.save_target" value="{{actor.system.save_target}}" data-dType="Number">
					</label>
				</div>
				<div class="field">
					<label>
						SPEED
						<input type="text" name="system.speed" value="{{actor.system.speed}}" data-dType="Number">
					</label>
				</div>
				<div class="field">
					<label>
						E-DEF
						<input type="text" name="system.e_defense" value="{{actor.system.e_defense}}" data-dType="Number">
					</label>
				</div>
				<div class="field">
					<label>
						EVASION
						<input type="text" name="system.evasion" value="{{actor.system.evasion}}" data-dType="Number">
					</label>
				</div>
				<div class="field">
					<label>
						SENSORS
						<input type="text" name="system.sensors" value="{{actor.system.sensors}}" data-dType="Number">
					</label>
				</div>
				<div class="field">
					<label>
						ARMOR
						<input type="text" name="system.armor" value="{{actor.system.armor}}" data-dtype="Number">
					</label>
				</div>
			</div>
			<hr>
			<!-- Row 2: Tabs -->
			<div class="flexrow pad-bottom --more">
				<nav class="tabs" data-group="primary-tabs">
					<a class="item" data-tab="traits" data-group="primary-tabs">TRAITS</a>
					<a class="item" data-tab="systems" data-group="primary-tabs">SYSTEMS</a>
					<a class="item" data-tab="weapons" data-group="primary-tabs">WEAPONS</a>
					<a class="item" data-tab="equipment" data-group="primary-tabs">GEAR</a>
				</nav>
			</div>
			<!-- Row 3: Content -->
			<div class="flexrow tab-content">
				<section class="content">
					<div class="tab" data-tab="traits" data-group="primary-tabs">

					</div>
					<div class="tab" data-tab="systems" data-group="primary-tabs">

					</div>
					<div class="tab" data-tab="weapons" data-group="primary-tabs">

					</div>
					<div class="tab" data-tab="equipment" data-group="primary-tabs">

					</div>
				</section>
			</div>
			<!-- Row 4: Temp Layout -->
			<!-- We'll put the total layout here before breaking it down into tabs -->

			<!-- Tab 1 -->
			<!-- Traits -->
			<!-- Reactions -->
			<!-- Systems -->
			<!-- Passive Systems -->
			<!-- Action Systems -->
			<!-- Tech Action Systems -->
			<!-- Protocol Systems -->
			<!-- Mounts -->
			<!-- Weapons -->
			<!-- /Tab 1 -->

			<!-- Tab 2 -->
			<!-- Mech Equipment & Gear -->
			<!-- /Tab 2 -->
			<div class="flexrow">
				<div class="flexcol pad-right">
					<!-- Core Systems -->
					<div class="flexcol pad-bottom">
						<div class="header-group">
							<h2 class="section-title header-text">Core Systems</h2>
							<div class="header-options">
								<i class="fa-solid fa-plus item-add icon-button" title="Add Core System" data-item-type="system"
									data-item-name="New Core System">
									<input type="hidden" name="default.type" value="core">
								</i>
							</div>
						</div>
						<div class="card-col">
							{{#each core_systems}}
							{{> "systems/lancer-lite/template/card/system-card.hbs"}}
							{{/each}}
						</div>
					</div>
					<!-- Traits -->
					<div class="flexcol pad-bottom">
						<div class="header-group">
							<h2 class="section-title header-text">Traits</h2>
							<div class="header-options">
								<i class="fa-solid fa-plus item-add icon-button" title="Add Trait" data-item-type="trait"
									data-item-name="New Trait"></i>
							</div>
						</div>
						<div class="card-col">
							{{#each traits}}
							{{> "systems/lancer-lite/template/card/trait-card.hbs"}}
							{{/each}}
						</div>
					</div>
					<!-- Reactions -->
					<div class="flexcol">
						<div class="header-group">
							<h2 class="section-title header-text">Reactions</h2>
							<div class="header-options">
								<i class="fa-solid fa-plus item-add icon-button" title="Add Reaction" data-item-type="reaction"
									data-item-name="New Reaction"></i>
							</div>
						</div>
						<div class="card-col">
							{{#each reactions}}
							{{> "systems/lancer-lite/template/card/reaction-card.hbs"}}
							{{/each}}
						</div>
					</div>
				</div>
				<div class="flexcol">
					<!-- Weapons -->
					<div class="flexcol pad-bottom">
						<div class="header-group">
							<h2 class="section-title header-text">Weapons</h3>
								<div class="header-options">
									<i class="fa-solid fa-plus item-add icon-button" title="Add Weapon" data-item-type="weapon"
										data-item-name="New Weapon">
										<!-- TODO: default value inputs for mech weapon-->
									</i>
								</div>
						</div>
						<div class="flexcol">
							<div class="header-group">
								<h3 class="section-title header-text">Mounts</h3>
								<div class="header-options">
									<i class="fa-solid fa-plus item-add icon-button" title="Add Mount" data-item-type="mount"
										data-item-name="New Mount"></i>
								</div>
							</div>
							<div class="mounts card-col">
								{{#each mounts}}
								{{> "systems/lancer-lite/template/card/mount-card.hbs"}}
								{{/each}}
							</div>
						</div>
						{{#if nomount}}
						<div class="flexcol">
							<div class="header-group">
								<h3 class="section-title header-text">Unmounted</h3>
							</div>
							<div class="nomount card-col">
								{{#each nomount}}
								{{> "systems/lancer-lite/template/card/weapon-card.hbs"}}
								{{/each}}
							</div>
						</div>
						{{/if}}
					</div>
					<!-- Systems -->
					<div class="flexcol">
						<div class="header-group">
							<h2 class="section-title header-text">Systems</h2>
							<div class="header-options">
								<i class="fa-solid fa-plus item-add icon-button" title="Add System" data-item-type="system"
									data-item-name="New System"></i>
							</div>
						</div>
						<div class="card-col">
							{{#each passive_systems}}
							{{> "systems/lancer-lite/template/card/system-card.hbs"}}
							{{/each}}
							{{#each action_systems}}
							{{> "systems/lancer-lite/template/card/system-card.hbs"}}
							{{/each}}
							{{#each tech_systems}}
							{{> "systems/lancer-lite/template/card/system-card.hbs"}}
							{{/each}}
							{{#each protocols}}
							{{> "systems/lancer-lite/template/card/system-card.hbs"}}
							{{/each}}
						</div>
					</div>
				</div>
			</div>
			<div class="flexrow">
				<div class="flexcol">
					<div class="header-group">
						<h2 class="section-title header-text">Gear</h3>
							<div class="header-options">
								<i class="fa-solid fa-plus item-add icon-button" title="Add Gear" data-item-type="gear"
									data-item-name="New Gear"></i>
							</div>
					</div>
					<div class="flexrow card-row">
						{{#each gear}}
						{{> "systems/lancer-lite/template/card/gear-card.hbs"}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</form>
</div>