<div class="{{cssClass}} flexcol sheet-container mech-sheet">
	<form autocomplete="off">
		<header class="sheet-header">
			<h1>MECH</h1>
		</header>
		<div class="flexcol">
			<!-- Row: Portrait | Info | Vitals -->
			<div class="flexrow pad-bottom">
				<div class="flexcol flex2">
					<div class="flexrow">
						<!-- Portrait -->
						<div class="flexcol flex0 pad-right">
							<div class="portrait-frame">
								<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
							</div>
						</div>
						<!-- Info -->
						<div class="flexcol field-group info pad-right --more">
							<h2 class="section-title">Info</h2>
							<div class="field flex0 pad-bottom">
								<label>
									NAME
									<input name="name" type="text" value="{{actor.name}}">
								</label>
							</div>
							<div class="field flex0 pad-bottom">
								<label>
									FRAME
									<input name="system.frame" type="text" value="{{actor.system.frame}}">
								</label>
							</div>
						</div>
						<!-- Vitals -->
						<div class="flexcol field-group vitals">
							<div class="header-group">
								<h2 class="section-title header-text">Vitals</h2>
								<div class="header-options">
									<!-- todo: edit mech vitals dialog -->
									<!-- Temp disable -->
									<!--
									<i class="fa-solid fa-gear edit-vitals icon-button" title="Configure Mech Vitals"></i>
									-->
								</div>
							</div>
							<table class="no-grow">
								<tr>
									<td>
										<div class="resource-field --right">
											<label>STRUCTURE</label>
											<div class="resources">
												<input type="text" name="system.structure.value" value="{{actor.system.structure.value}}"
													data-dtype="Number">
											</div>
										</div>
									</td>
									<td>
										<div class="resource-field --center">
											<label>HP</label>
											<div class="resources">
												<input type="text" name="system.hp.value" value="{{actor.system.hp.value}}" data-dtype="Number">
												&nbsp;/&nbsp;
												{{actor.system.hp.max}}
											</div>
										</div>
									</td>
									<td>
										<div class="resource-field no-grow">
											<label style="font-size: 0.73rem">OVERSHIELD</label>
											<div class="flexrow flex0 resources">
												<input type="text" class="--small" name="system.overshield" value="{{actor.system.overshield}}"
													data-dtype="Number">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="resource-field --right">
											<label>STRESS</label>
											<div class="flexrow flex0 resources">
												<input type="text" class="--small" name="system.stress.value"
													value="{{actor.system.stress.value}}" data-dtype="Number">
											</div>
										</div>
									</td>
									<td>
										<div class="resource-field --center">
											<label>HEAT</label>
											<div class="flexrow flex0 resources">
												<input type="text" class="--small" name="system.heat.value" value="{{actor.system.heat.value}}"
													data-dtype="Number">
												&nbsp;/&nbsp;
												{{actor.system.heat.max}}
											</div>
										</div>
									</td>
									<td>
										<div class="resource-field no-grow">
											<label>REPAIR</label>
											<div class="flexrow flex0 resources">
												<input type="text" class="--small" name="system.repairs.value"
													value="{{actor.system.repairs.value}}" data-dtype="Number">
												&nbsp;/&nbsp;
												{{actor.system.repairs.max}}
											</div>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- Row 2: Tabs -->
			<div class="flexrow pad-bottom --more">
				<nav class="tabs" data-group="primary-tabs">
					<a class="item" data-tab="stats" data-group="primary-tabs">STATS</a>
					<a class="item" data-tab="loadout" data-group="primary-tabs">LOADOUT</a>
					<a class="item" data-tab="gear" data-group="primary-tabs">GEAR</a>
					<a class="item" data-tab="about" data-group="primary-tabs">ABOUT</a>
				</nav>
			</div>
			<!-- Row 3: Content -->
			<div class="flexrow tab-content">
				<section class="content">
					<div class="tab" data-tab="stats" data-group="primary-tabs">
						{{> "systems/lancer-lite/template/sheet/actor/mech/tab/mech-stats-tab.hbs"}}
					</div>
					<div class="tab" data-tab="loadout" data-group="primary-tabs">
						{{> "systems/lancer-lite/template/sheet/actor/mech/tab/mech-loadout-tab.hbs"}}
					</div>
					<div class="tab" data-tab="gear" data-group="primary-tabs">
						{{> "systems/lancer-lite/template/sheet/actor/mech/tab/mech-gear-tab.hbs"}}
					</div>
					<div class="tab" data-tab="about" data-group="primary-tabs">
						{{> "systems/lancer-lite/template/sheet/actor/mech/tab/mech-about-tab.hbs"}}
					</div>
				</section>
			</div>
		</div>
	</form>
</div>