<div class="item-card gear-card" data-item-id="{{id}}">
	<div class="header">
		<div class="title-row">
			<span class="toggle-body">{{name}}</span>
			{{#unless hideButtons}}
			<div class="header-buttons">
				<i class="fa-regular fa-message item-post icon-button" title="Post Gear to Chat" data-item-id="{{id}}"></i>
				<i class="fa-solid fa-pen-to-square item-edit icon-button" title="Edit Gear" data-item-id="{{id}}"></i>
			</div>
			{{/unless}}
		</div>
		<div class="tags">
			Gear{{#if system.tags}}, {{system.tags}}{{/if}}
		</div>
	</div>
	<div class="body">
		<div class="description">
			{{{system.description}}}
		</div>
	</div>
</div>