<div class="item-card license-card" data-item-id="{{id}}">
	<div class="header --level-{{system.level}}">
		<div class="title-row">
			<span class="toggle-body">{{name}} {{romanize system.level}}</span>
			<div class="header-buttons">
				<i class="fa-solid fa-pen-to-square item-edit icon-button" title="Edit License" data-item-id="{{id}}"></i>
			</div>
		</div>
		{{#if tags}}
		<div class="tags">
		</div>
		{{/if}}
	</div>
	<div class="body">
		<div class="description">
			{{{system.description}}}
		</div>
	</div>
</div>