<div class="item-card reaction-card" data-item-id="{{id}}">
	<div class="header">
		<div class="title-row">
			<span class="toggle-body">{{name}}</span>
			{{#if isOwner}}
			{{#unless hideButtons}}
			<div class="header-buttons">
				<i class="fa-regular fa-message item-post icon-button" title="Post Reaction to Chat" data-item-id="{{id}}"></i>
				<i class="fa-solid fa-pen-to-square item-edit icon-button" title="Edit Reaction" data-item-id="{{id}}"></i>
			</div>
			{{/unless}}
			{{/if}}
		</div>
		<div class="tags">
			Reaction{{#if system.frequency}}, {{system.frequency}}{{/if}}{{#if system.tags}}, {{system.tags}}{{/if}}
		</div>
	</div>
	<div class="body">
		<div class="description">
			{{{system.description}}}
		</div>
	</div>
</div>