<div class="item-card system-card --{{system.type}}" data-item-id="{{id}}">
	<div class="header">
		<div class="title-row">
			<span class="toggle-body">{{name}}</span>
			{{#unless hideButtons}}
			<div class="header-buttons">
				<i class="fa-regular fa-message item-post icon-button" title="Post System to Chat" data-item-id="{{id}}"></i>
				<i class="fa-solid fa-pen-to-square item-edit icon-button" title="Edit System" data-item-id="{{id}}"></i>
			</div>
			{{/unless}}
		</div>
		<div class="tags">
			{{#ifEquals system.type "action"}}
			{{system.sp_cost}} SP, Action{{#if system.tags}}, {{system.tags}}{{/if}}
			{{/ifEquals}}
			{{#ifEquals system.type "core"}}
			Core System{{#if system.tags}}, {{system.tags}}{{/if}}
			{{/ifEquals}}
			{{#ifEquals system.type "passive"}}
			{{system.sp_cost}} SP{{#if system.tags}}, {{system.tags}}{{/if}}
			{{/ifEquals}}
			{{#ifEquals system.type "protocol"}}
			{{system.sp_cost}} SP, Protocol{{#if system.tags}}, {{system.tags}}{{/if}}
			{{/ifEquals}}
			{{#ifEquals system.type "tech"}}
			{{system.sp_cost}} SP{{#if system.tags}}, {{system.tags}}{{/if}}
			{{/ifEquals}}
		</div>
	</div>
	<div class="body">
		<div class="description {{#ifEquals system.type "core"}}{{#unless hideDescription}}--show{{/unless}}{{/ifEquals}}">
			{{{system.description}}}
		</div>
	</div>
</div>