<div class="item-card system-card --{{system.type}}" data-item-id="{{id}}">
	<div class="header">
		<div class="title-row">
			<span class="toggle-body">{{name}}</span>
			{{#if isOwner}}
			{{#unless hideButtons}}
			<div class="header-buttons">
				{{#if system.destroyed}}
				<i class="destroyed-icon fas fa-triangle-exclamation" title="Destroyed"></i>
				{{/if}}
				<i class="fa-regular fa-message item-post icon-button" title="Post System to Chat" data-item-id="{{id}}"></i>
				<i class="fa-solid fa-pen-to-square item-edit icon-button" title="Edit System" data-item-id="{{id}}"></i>
			</div>
			{{/unless}}
			{{/if}}
		</div>
		<div class="tags">
			{{#ifEquals system.type "action"}}
			{{#if system.sp_cost}}{{system.sp_cost}} SP, {{/if}}Action{{#if system.limited.isLimited}}, Limited ({{system.limited.value}}/{{system.limited.max}}){{/if}}{{#if system.tags}}, {{system.tags}}{{/if}}
			{{/ifEquals}}
			{{#ifEquals system.type "core"}}
			Core System{{#if system.tags}}, {{system.tags}}{{/if}}
			{{/ifEquals}}
			{{#ifEquals system.type "passive"}}
			{{#if system.sp_cost}}{{system.sp_cost}} SP, {{/if}}Passive{{#if system.limited.isLimited}}, Limited ({{system.limited.value}}/{{system.limited.max}}){{/if}}{{#if system.tags}}, {{system.tags}}{{/if}}
			{{/ifEquals}}
			{{#ifEquals system.type "protocol"}}
			{{#if system.sp_cost}}{{system.sp_cost}} SP, {{/if}}Protocol{{#if system.limited.isLimited}}, Limited ({{system.limited.value}}/{{system.limited.max}}){{/if}}{{#if system.tags}}, {{system.tags}}{{/if}}
			{{/ifEquals}}
			{{#ifEquals system.type "tech"}}
			{{#if system.sp_cost}}{{system.sp_cost}} SP, {{/if}}Tech{{#if system.limited.isLimited}}, Limited ({{system.limited.value}}/{{system.limited.max}}){{/if}}{{#if system.tags}}, {{system.tags}}{{/if}}
			{{/ifEquals}}
		</div>
	</div>
	<div class="body">
		<div class="description {{#ifEquals system.type " core"}}{{#unless hideDescription}}--show{{/unless}}{{/ifEquals}}">
			{{{system.description}}}
		</div>
	</div>
</div>