<div class="item-card weapon-card" data-item-id="{{id}}">
	<div class="header">
		<div class="title-row">
			<span class="toggle-body">{{name}}</span>
			{{#if isOwner}}
			{{#unless hideButtons}}
			<div class="header-buttons">
				{{#if system.destroyed}}
				<i class="destroyed-icon fas fa-triangle-exclamation" title="Destroyed"></i>
				{{/if}}
				<i class="fa-regular fa-message item-post icon-button" title="Post Weapon to Chat" data-item-id="{{id}}"></i>
				{{#unless system.destroyed}}
				<i class="fa-solid fa-dice-d20 weapon-roll icon-button" title="Roll Weapon" data-item-id="{{id}}"></i>
				{{/unless}}
				<i class="fa-solid fa-pen-to-square item-edit icon-button" title="Edit Weapon" data-item-id="{{id}}"></i>
			</div>
			{{/unless}}
			{{/if}}
		</div>
		<div class="type">
			{{system.size}} {{system.type}}
		</div>
		{{#if system.tags}}
		<div class="tags">
			{{#if system.limited.isLimited}}Limited ({{system.limited.value}}/{{system.limited.max}}){{#if system.tags}}, {{/if}}{{/if}}{{#if system.tags}}{{system.tags}}{{/if}}
		</div>
		{{/if}}
		<div class="traits">
			{{#if system.range}}[Range: {{system.range}}]{{/if}} {{#if system.threat}}[Threat: {{system.threat}}]{{/if}} {{#if
			system.damage}}[Damage: {{system.damage}}]{{/if}}
		</div>
	</div>
	<div class="body">
		<div class="description">
			{{{system.description}}}
		</div>
	</div>
</div>