<div class="{{cssClass}} flexcol sheet-container">
	<!--
	TODO: 
	-Tabs
		- Tab 1: Traits
		- Tab 2: Licenses
		- Tab 3: Loadout
		- Move Skills/Stats to "header"
	-->
	<form autocomplete="off">
		<header class="sheet-header">
			<h1>PILOT</h1>
		</header>
		<div class="flexcol">
			<!-- Row 1: Portrait & Bio -->
			<div class="flexrow pad-bottom --more">
				<div class="flexcol flex2">
					<div class="flexrow">
						<!-- Portrait -->
						<div class="flexcol flex0 pad-right">
							<div class="pilot-portrait-frame">
								<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
							</div>
							<div class="pad-bottom"></div>
							<button class="skill-check quick-button">
								<i class="fas fa-dice-d20"></i>
								Skill Check
							</button>
						</div>
						<!-- Bio -->
						<div class="flexcol flex0 field-group pilot-bio pad-right --more">
							<h2 class="section-title">Bio</h2>
							<div class="field">
								<label>
									NAME
									<input name="name" type="text" value="{{actor.name}}">
								</label>
							</div>
							<div class="field">
								<label>
									CALLSIGN
									<input name="system.callsign" type="text" value="{{actor.system.callsign}}">
								</label>
							</div>
							<div class="field">
								<label>
									BIOGRAPHY
									<textarea name="system.biography">{{actor.system.biography}}</textarea>
								</label>
							</div>
						</div>
						<div class="flexcol flex0 field-group pilot-skills pad-right --more">
							<h2 class="section-title">Skills</h2>
							<div class="flexrow">
								<div class="pad-right --more">
									<label>
										LL
									</label>
									<input type="text" name="system.license_level" value="{{actor.system.license_level}}"
										data-dtype="Number">
								</div>
								<div>
									<label>
										GRIT
									</label>
									<input type="text" name="system.grit" value="{{actor.system.grit}}" data-dtype="Number">
								</div>
							</div>
							<div class="flexrow">
								<div class="pad-right --more">
									<label>
										<i class="fas fa-dice-d20 icon-button stat-roll" data-stat="hull" data-stat-label="Hull"></i>
										HULL
									</label>
									<input type="text" name="system.hull" value="{{actor.system.hull}}" data-dtype="Number">
								</div>
								<div>
									<label>
										<i class="fas fa-dice-d20 icon-button stat-roll" data-stat="systems" data-stat-label="Systems"></i>
										SYS
									</label>
									<input type="text" name="system.systems" value="{{actor.system.systems}}" data-dtype="Number">
								</div>
							</div>
							<div class="flexrow">
								<div class="pad-right --more">
									<label class="pad-right --more">
										<i class="fas fa-dice-d20 icon-button stat-roll" data-stat="agility" data-stat-label="Agility"></i>
										AGI
									</label>
									<input type="text" name="system.agility" value="{{actor.system.agility}}" data-dtype="Number">
								</div>
								<div>
									<label>
										<i class="fas fa-dice-d20 icon-button stat-roll" data-stat="engineering" data-stat-label="Engineering"></i>
										ENG
									</label>
									<input type="text" name="system.engineering" value="{{actor.system.engineering}}" data-dtype="Number">
								</div>
							</div>
						</div>
						<div class="flexcol field-group pilot-stats">
							<h2 class="section-title">Stats</h2>
							<div class="flexrow">
								<label>
									HP
									<div class="flexrow flex0">
										<input type="text" name="system.hp.value" value="{{actor.system.hp.value}}" data-dtype="Number">
										&nbsp;/&nbsp;
										<input type="text" name="system.hp.max" value="{{actor.system.hp.max}}" data-dtype="Number">
									</div>
								</label>
							</div>
							<div class="flexrow">
								<label>
									ARMOR
									<input type="text" name="system.armor" value="{{actor.system.armor}}" data-dtype="Number">
								</label>
							</div>
							<div class="flexrow">
								<label>
									E-DEF
									<input type="text" name="system.e_defense" value="{{actor.system.e_defense}}" data-dtype="Number">
								</label>
							</div>
							<div class="flexrow">
								<label>
									EVASION
									<input type="text" name="system.evasion" value="{{actor.system.evasion}}" data-dtype="Number">
								</label>
							</div>
							<div class="flexrow">
								<label>
									SPEED
									<input type="text" name="system.speed" value="{{actor.system.speed}}" data-dtype="Number">
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Row 2: Tabs -->
			<div class="flexrow pad-bottom --more">
				<nav class="tabs" data-group="primary-tabs">
					<a class="item" data-tab="traits" data-group="primary-tabs">Traits</a>
					<a class="item" data-tab="licenses" data-group="primary-tabs">Licenses</a>
					<a class="item" data-tab="loadout" data-group="primary-tabs">Loadout</a>
				</nav>
			</div>
			<!-- Row 3: Content -->
			<div class="flexrow">
				<section class="content">
					<div class="tab" data-tab="traits" data-group="primary-tabs">Traits Content</div>
					<div class="tab" data-tab="licenses" data-group="primary-tabs">Licenses Content</div>
					<div class="tab" data-tab="loadout" data-group="primary-tabs">Loudout Content</div>
				</section>
			</div>
			<!-- Row 3: Triggers, Skills, Stats -->
			<div class="flexrow pad-bottom --more">
				<!-- Triggers -->
				<div class="flexcol pad-right">
					<div class="header-group">
						<h2 class="section-title header-text">Triggers</h2>
						<div class="header-options">
							<i class="fa-solid fa-plus item-add icon-button" title="Add Trigger" data-item-type="trigger"
								data-item-name="New Trigger"></i>
						</div>
					</div>
					<div class="card-col">
						{{#each triggers}}
						{{> "systems/lancer-lite/template/card/trigger-card.hbs"}}
						{{/each}}
					</div>
				</div>
				<!-- Talents -->
				<div class="flexcol pad-right">
					<div class="header-group">
						<h2 class="section-title header-text">Talents</h2>
						<div class="header-options}">
							<i class="fa-solid fa-plus item-add icon-button" title="Add Talent" data-item-type="talent"
								data-item-name="New Talent"></i>
						</div>
					</div>
					<div class="card-col">
						{{#each talents}}
						{{> "systems/lancer-lite/template/card/talent-card.hbs"}}
						{{/each}}
					</div>
				</div>
			</div>
			<!-- Row 4: Talents & Licenses -->
			<div class="flexrow pad-bottom --more">

				<!-- Licenses -->
				<div class="flexcol">
					<div class="header-group">
						<h2 class="section-title header-text">Licenses</h2>
						<div class="header-options">
							<i class="fa-solid fa-plus item-add icon-button" title="Add License" data-item-type="license"
								data-item-name="New License"></i>
						</div>
					</div>
					<div class="card-col">
						{{#each licenses}}
						{{> "systems/lancer-lite/template/card/license-card.hbs"}}
						{{/each}}
					</div>
				</div>
			</div>
			<!-- Row 5: Core Bonuses -->
			<div class="flexrow pad-bottom --more">
				<!-- Core Bonuses -->
				<div class="flexcol">
					<div class="header-group">
						<h2 class="section-title header-text">Core Bonuses</h2>
						<div class="header-options">
							<i class="fa-solid fa-plus item-add icon-button" title="Add Core Bonus" data-item-type="core_bonus"
								data-item-name="New Core Bonus"></i>
						</div>
					</div>
					<div class="flexrow card-row">
						{{#each core_bonuses}}
						{{> "systems/lancer-lite/template/card/core-bonus-card.hbs"}}
						{{/each}}
					</div>
				</div>
			</div>
			<!-- Row 6: Loadout -->
			<div class="flexrow">
				<!-- Loadout -->
				<div class="flexcol">
					<h2 class="section-title">Loadout</h2>
					<div class="loadout-container">
						<div class="header-group">
							<h3 class="section-title header-text">Armor</h3>
							<div class="header-options">
								<i class="fa-solid fa-plus item-add icon-button" title="Add Armor" data-item-type="armor"
									data-item-name="New Armor"></i>
							</div>
						</div>
						<div class="flexrow card-row">
							{{#each armor}}
							{{> "systems/lancer-lite/template/card/armor-card.hbs"}}
							{{/each}}
						</div>
						<div class="header-group">
							<h3 class="section-title header-text">Weapons</h3>
							<div class="header-options">
								<i class="fa-solid fa-plus item-add icon-button" title="Add Weapon" data-item-type="weapon"
									data-item-name="New Weapon"></i>
							</div>
						</div>
						<div class="flexrow card-row">
							{{#each weapons}}
							{{> "systems/lancer-lite/template/card/weapon-card.hbs"}}
							{{/each}}
						</div>
						<div class="header-group">
							<h3 class="section-title header-text">Gear</h3>
							<div class="header-options">
								<i class="fa-solid fa-plus item-add icon-button" title="Add Gear" data-item-type="gear"
									data-item-name="New Gear"></i>
							</div>
						</div>
						<div class="flexrow card-row">
							{{#each gear}}
							{{> "systems/lancer-lite/template/card/gear-card.hbs"}}
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>