<div class="{{cssClass}} flexcol {{styles.sheet-container}}">
	<form autocomplete="off">
		<header class="sheet-header {{styles.sheet-header}}">
			<h1>PILOT</h1>
		</header>
		<div class="flexcol">
			<div class="flexrow">
				<div class="flexcol flex2">
					<div class="flexrow">
						<!-- Portrait -->
						<div class="flexcol flex0 {{styles.pad-right}}">
							<div class="{{styles.pilot-portrait-frame}}">
								<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
							</div>
						</div>
						<!-- Bio -->
						<div class="flexcol {{styles.field-group}} {{styles.pilot-bio}}">
							<div class="{{styles.field}}">
								<label>
									NAME
									<input name="name" type="text" value="{{actor.name}}">
								</label>
							</div>
							<div class="{{styles.field}}">
								<label>
									CALLSIGN
									<input name="system.callsign" type="text" value="{{actor.system.callsign}}">
								</label>
							</div>
							<div class="{{styles.field}} {{styles.biography}}">
								<label>
									BIOGRAPHY
									<textarea name="system.biography">{{actor.system.biography}}</textarea>
								</label>
							</div>
						</div>
						<!-- Mech Stats -->
						<div class="flexcol flex0">
							<table class="{{styles.stat-table}}">
								<tr>
									<td>
										<label>
											LL
											<input type="text" name="system.license_level" value="{{actor.system.license_level}}"
												data-dtype="Number">
										</label>
									</td>
									<td>
										<label>
											GRIT
											<input type="text" name="system.grit" value="{{actor.system.grit}}" data-dtype="Number">
										</label>
									</td>
								</tr>
								<tr>
									<td>
										<label>
											HULL
											<input type="text" name="system.hull" value="{{actor.system.hull}}" data-dtype="Number">
										</label>
									</td>
									<td>
										<label>
											SYS
											<input type="text" name="system.systems" value="{{actor.system.systems}}" data-dtype="Number">
										</label>
									</td>
								</tr>
								<tr>
									<td>
										<label>
											AGI
											<input type="text" name="system.agility" value="{{actor.system.agility}}" data-dtype="Number">
										</label>
									</td>
									<td>
										<label>
											ENG
											<input type="text" name="system.engineering" value="{{actor.system.engineering}}"
												data-dtype="Number">
										</label>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="flexrow">
						<!-- Triggers -->
						<div class="flexcol {{styles.pad-right}}">
							<div class="{{styles.header-group}}">
								<h2 class="{{styles.section-title}} {{styles.header-text}}">Triggers</h2>
								<div class="{{styles.header-options}}">
									<i class="fa-solid fa-plus trigger-add {{styles.icon-button}}" title="Add Trigger"></i>
								</div>
							</div>
							<div class="triggers-container flexrow">
								{{#each triggers}}
								{{> trigger-card}}
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="flexrow">
				<!-- Talents -->
				<div class="flexcol {{styles.pad-right}}">
					<!--<h2 class="{{styles.section-title}}">Talents</h2>-->
					<div class="{{styles.header-group}}">
						<h2 class="{{styles.section-title}} {{styles.header-text}}">Talents</h2>
						<div class="{{styles.header-options}}">
							<i class="fa-solid fa-plus talent-add {{styles.icon-button}}" title="Add Talent"></i>
						</div>
					</div>
					<div class="talents-container">

					</div>
				</div>
				<!-- Licenses -->
				<div class="flexcol">
					<div class="{{styles.header-group}}">
						<h2 class="{{styles.section-title}} {{styles.header-text}}">Licenses</h2>
						<div class="{{styles.header-options}}">
							<i class="fa-solid fa-plus license-add {{styles.icon-button}}" title="Add License"></i>
						</div>
					</div>
					<div class="licenses-container">
						{{#each licenses}}
						{{> license-card}}
						{{/each}}
					</div>
				</div>
			</div>
			<div class="flexrow">
				<!-- Core Bonuses -->
				<div class="flexcol">
					<div class="{{styles.header-group}}">
						<h2 class="{{styles.section-title}} {{styles.header-text}}">Core Bonuses</h2>
						<div class="{{styles.header-options}}">
							<i class="fa-solid fa-plus core-bonus-add {{styles.icon-button}}" title="Add Core Bonus"></i>
						</div>
					</div>
					<div class="flexrow">
						<div class="core-bonuses-container">
							{{#each core_bonuses}}
							{{> core-bonus-card}}
							{{/each}}
						</div>
					</div>
				</div>
			</div>
			<div class="flexrow">
				<!-- Loadout -->
				<div class="flexcol">
					<h2 class="{{styles.section-title}}">Loadout</h2>
					<div class="loadout-container">
						<div class="{{styles.header-group}}">
							<h3 class="{{styles.section-title}} {{styles.header-text}}">Armor</h3>
							<div class="{{styles.header-options}}">
								<i class="fa-solid fa-plus armor-add {{styles.icon-button}}" title="Add Armor"></i>
							</div>
						</div>
						<div class="armor-container">
							{{#each armor}}
							{{> armor-card}}
							{{/each}}
						</div>
						<div class="{{styles.header-group}}">
							<h3 class="{{styles.section-title}} {{styles.header-text}}">Weapons</h3>
							<div class="{{styles.header-options}}">
								<i class="fa-solid fa-plus weapon-add {{styles.icon-button}}" title="Add Weapon"></i>
							</div>
						</div>
						<div class="flexrow {{styles.weapons-container}}">
							{{#each weapons}}
							{{> weapon-card}}
							{{/each}}
						</div>
						<div class="{{styles.header-group}}">
							<h3 class="{{styles.section-title}} {{styles.header-text}}">Gear</h3>
							<div class="{{styles.header-options}}">
								<i class="fa-solid fa-plus gear-add {{styles.icon-button}}" title="Add Gear"></i>
							</div>
						</div>
						<div class="{{styles.gear-container}}">
							{{#each gear}}
							{{> gear-card}}
							{{/each}}
						</div>
					</div>
				</div>
				<!-- Stats -->
				<div class="flexcol flex0">
					<div class="{{styles.stats-container}}">

					</div>
				</div>
			</div>
		</div>
	</form>
</div>