<div class="{{cssClass}} flexcol {{styles.sheet-container}}">
	<form autocomplete="off">
		<header class="sheet-header {{styles.sheet-header}}">
			<h1>PILOT</h1>
		</header>
		<div class="flexcol">
			<!-- Row 1: Portrait & Bio -->
			<div class="flexrow {{styles.pad-bottom}} {{styles.--more}}">
				<div class="flexcol flex2">
					<div class="flexrow">
						<!-- Portrait -->
						<div class="flexcol flex0 {{styles.pad-right}}">
							<div class="{{styles.pilot-portrait-frame}}">
								<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
							</div>
						</div>
						<!-- Bio -->
						<div class="flexcol {{styles.field-group}} {{styles.pilot-bio}} {{styles.pad-right}}">
							<h2 class="{{styles.section-title}}">Bio</h2>
							<div class="{{styles.field}}">
								<label>
									NAME
									<input name="name" type="text" value="{{actor.name}}">
								</label>
							</div>
							<div class="{{styles.field}}">
								<label>
									CALLSIGN
									<input name="system.callsign" type="text" value="{{actor.system.callsign}}">
								</label>
							</div>
							<div class="{{styles.field}} {{styles.biography}}">
								<label>
									BIOGRAPHY
									<textarea name="system.biography">{{actor.system.biography}}</textarea>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Row 2: Triggers, Skills, Stats -->
			<div class="flexrow {{styles.pad-bottom}} {{styles.--more}}">
				<!-- Triggers -->
				<div class="flexcol {{styles.pad-right}}">
					<div class="{{styles.header-group}}">
						<h2 class="{{styles.section-title}} {{styles.header-text}}">Triggers</h2>
						<div class="{{styles.header-options}}">
							<i class="fa-solid fa-plus item-add {{styles.icon-button}}" title="Add Trigger" data-item-type="trigger"
								data-item-name="New Trigger"></i>
						</div>
					</div>
					<div class="{{styles.card-col}}">
						{{#each triggers}}
						{{> trigger-card}}
						{{/each}}
					</div>
				</div>
				<!-- Skills -->
				<div class="flexcol flex0 {{styles.skill-container}} {{styles.pad-right}}">
					<h2 class="{{styles.section-title}}">Skills</h2>
					<table class="{{styles.skill-table}}">
						<tr>
							<td>
								<label>
									LL
									<input type="text" name="system.license_level" value="{{actor.system.license_level}}"
										data-dtype="Number">
								</label>
							</td>
							<td>
								<label>
									GRIT
									<input type="text" name="system.grit" value="{{actor.system.grit}}" data-dtype="Number">
								</label>
							</td>
						</tr>
						<tr>
							<td>
								<label>
									HULL
									<input type="text" name="system.hull" value="{{actor.system.hull}}" data-dtype="Number">
								</label>
							</td>
							<td>
								<label>
									SYS
									<input type="text" name="system.systems" value="{{actor.system.systems}}" data-dtype="Number">
								</label>
							</td>
						</tr>
						<tr>
							<td>
								<label>
									AGI
									<input type="text" name="system.agility" value="{{actor.system.agility}}" data-dtype="Number">
								</label>
							</td>
							<td>
								<label>
									ENG
									<input type="text" name="system.engineering" value="{{actor.system.engineering}}" data-dtype="Number">
								</label>
							</td>
						</tr>
					</table>
				</div>
				<!-- Stats -->
				<div class="flexcol flex0 {{styles.stat-container}}">
					<h2 class="{{styles.section-title}}">Stats</h2>
					<div class="flexrow {{styles.stats-row}}">
						<label>
							HP
							<div class="flexrow flex0">
								<input type="text" name="system.hp.value" value="{{actor.system.hp.value}}" data-dtype="Number">
								&nbsp;/&nbsp;
								<input type="text" name="system.hp.max" value="{{actor.system.hp.max}}" data-dtype="Number">
							</div>
						</label>
					</div>
					<div class="flexrow {{styles.stats-row}}">
						<label>
							ARMOR
							<input type="text" name="system.armor" value="{{actor.system.armor}}" data-dtype="Number">
						</label>
					</div>
					<div class="flexrow {{styles.stats-row}}">
						<label>
							E-DEF
							<input type="text" name="system.e_defense" value="{{actor.system.e_defense}}" data-dtype="Number">
						</label>
					</div>
					<div class="flexrow {{styles.stats-row}}">
						<label>
							EVASION
							<input type="text" name="system.evasion" value="{{actor.system.evasion}}" data-dtype="Number">
						</label>
					</div>
					<div class="flexrow {{styles.stats-row}}">
						<label>
							SPEED
							<input type="text" name="system.speed" value="{{actor.system.speed}}" data-dtype="Number">
						</label>
					</div>
				</div>
			</div>
			<!-- Row 3: Talents & Licenses -->
			<div class="flexrow {{styles.pad-bottom}} {{styles.--more}}">
				<!-- Talents -->
				<div class="flexcol {{styles.pad-right}}">
					<div class="{{styles.header-group}}">
						<h2 class="{{styles.section-title}} {{styles.header-text}}">Talents</h2>
						<div class="{{styles.header-options}}">
							<i class="fa-solid fa-plus item-add {{styles.icon-button}}" title="Add Talent" data-item-type="talent"
								data-item-name="New Talent"></i>
						</div>
					</div>
					<div class="{{styles.card-col}}">
						{{#each talents}}
						{{> talent-card}}
						{{/each}}
					</div>
				</div>
				<!-- Licenses -->
				<div class="flexcol">
					<div class="{{styles.header-group}}">
						<h2 class="{{styles.section-title}} {{styles.header-text}}">Licenses</h2>
						<div class="{{styles.header-options}}">
							<i class="fa-solid fa-plus item-add {{styles.icon-button}}" title="Add License" data-item-type="license"
								data-item-name="New License"></i>
						</div>
					</div>
					<div class="{{styles.card-col}}">
						{{#each licenses}}
						{{> license-card}}
						{{/each}}
					</div>
				</div>
			</div>
			<!-- Row 4: Core Bonuses -->
			<div class="flexrow {{styles.pad-bottom}} {{styles.--more}}">
				<!-- Core Bonuses -->
				<div class="flexcol">
					<div class="{{styles.header-group}}">
						<h2 class="{{styles.section-title}} {{styles.header-text}}">Core Bonuses</h2>
						<div class="{{styles.header-options}}">
							<i class="fa-solid fa-plus item-add {{styles.icon-button}}" title="Add Core Bonus"
								data-item-type="core_bonus" data-item-name="New Core Bonus"></i>
						</div>
					</div>
					<div class="flexrow {{styles.card-row}}">
						{{#each core_bonuses}}
						{{> core-bonus-card}}
						{{/each}}
					</div>
				</div>
			</div>
			<!-- Row 5: Loadout -->
			<div class="flexrow">
				<!-- Loadout -->
				<div class="flexcol">
					<h2 class="{{styles.section-title}}">Loadout</h2>
					<div class="loadout-container">
						<div class="{{styles.header-group}}">
							<h3 class="{{styles.section-title}} {{styles.header-text}}">Armor</h3>
							<div class="{{styles.header-options}}">
								<i class="fa-solid fa-plus item-add {{styles.icon-button}}" title="Add Armor" data-item-type="armor"
									data-item-name="New Armor"></i>
							</div>
						</div>
						<div class="flexrow {{styles.card-row}}">
							{{#each armor}}
							{{> armor-card}}
							{{/each}}
						</div>
						<div class="{{styles.header-group}}">
							<h3 class="{{styles.section-title}} {{styles.header-text}}">Weapons</h3>
							<div class="{{styles.header-options}}">
								<i class="fa-solid fa-plus item-add {{styles.icon-button}}" title="Add Weapon" data-item-type="weapon"
									data-item-name="New Weapon"></i>
							</div>
						</div>
						<div class="flexrow {{styles.card-row}}">
							{{#each weapons}}
							{{> weapon-card}}
							{{/each}}
						</div>
						<div class="{{styles.header-group}}">
							<h3 class="{{styles.section-title}} {{styles.header-text}}">Gear</h3>
							<div class="{{styles.header-options}}">
								<i class="fa-solid fa-plus item-add {{styles.icon-button}}" title="Add Gear" data-item-type="gear"
									data-item-name="New Gear"></i>
							</div>
						</div>
						<div class="flexrow {{styles.card-row}}">
							{{#each gear}}
							{{> gear-card}}
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>