<div class="{{cssClass}} flexcol {{styles.sheet-container}}">
	<form autocomplete="off">
		<!--
		<header class="sheet-header {{styles.sheet-header}}">
			<img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
			<h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
			<div class="icon-button-container {{styles.icon-button-container}}">
				<i class="fa-solid fa-ban item-delete button-icon {{styles.button-icon}}" title="Delete Weapon" data-item-id="{{id}}"></i>
			</div>
		</header>
		-->
		<header class="sheet-header {{styles.sheet-header}}">
			<h1>WEAPON</h1>
		</header>
		<div class="flexcol">
			<!-- Row 1 -->
			<div class="flexrow">
				<!-- Portrait -->
				<div class="flexcol flex0 {{styles.pad-right}}">
					<div class="{{styles.portrait-frame}}">
						<img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
					</div>
				</div>
				<div class="flexcol">
					<!-- Name -->
					<!-- Description -->
				</div>
			</div>
		</div>
		<!--
	<div>
		<label>
			Range
			<input type="text" name="system.range" value="{{item.system.range}}">
		</label>
		<label>
			Damage
			<input type="text" name="system.damage.value" value="{{item.system.damage.value}}">
		</label>
		<label>
			Damage Type
			<select name="system.damage.type">
				{{#select system.damage.type}}
				<option value="Kinetic">Kinetic</option>
				<option value="Explosive">Explosive</option>
				<option value="Energy">Energy</option>
				<option value="Burn">Burn</option>
				{{/select}}
			</select>
		</label>
		<label>
			Tags
			<input type="text" name="system.tags" value="{{item.system.tags}}">
		</label>
		<label>
			Description
			{{editor item.system.description target="system.description"}}
		</label>
	</div>
	-->
	</form>
</div>